/* Añadir Google Fonts para Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@keyframes fondoOlas {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.body-acceso {
  /* Crear un gradiente que cambia entre cuatro tonos de gris */
  background: linear-gradient(-45deg, #2a2b2b, #41688f, #b0b3b4, #dfe0e2);
  background-size: 400% 400%;
  animation: fondoOlas 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.div-container {
  text-align: center; /* text-center */
  background-color: #ffffff; /* bg-white */
  padding: 2rem; /* p-8 */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* shadow */
  border-radius: 0.25rem; /* rounded */
  display: flex;
  flex-direction: column; /* Alinea los elementos (logo-título y los demás elementos) en columna */
  align-items: center; /* Centra los elementos en el eje cruzado */
}

.titulo-logo {
  display: flex;
  align-items: center; /* Alinea verticalmente el título y el logo */
  margin-bottom: 5rem; /* Espacio debajo del contenedor de título-logo */
  margin-right: 30px;
}

.logo {
  width: 50px;
  margin-right: 10px; /* Espacio entre el logo y el título */
}


.h1-titulo-web {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.frase-acceso {
  margin-bottom: 1rem; /* mb-4 */
  width: 70%;
}

.boton-google{
  display: inline-flex;
  align-items: center; /* items-center */
  background-color: #4299e1; /* bg-blue-500 */
  color: #ffffff; /* text-white */
  font-weight: bold; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.25rem; /* rounded */
  text-decoration: none;
}

.boton-google:hover {
  background-color: #2b6cb0; /* hover:bg-blue-700 */
}